{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="/booking/{{ id_teacher }}/{{ week_day }}/{{ time }}/" method="POST" class="card mb-3">
          {{ form.hidden_tag() }}
          <div class="card-body text-center pt-5">
            <img src="{{ data_teacher.picture }}" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{ data_teacher.name }}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{ dict_week_days[week_day] }}, {{ time }}</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  <input class="form-control" type="hidden" name="clientWeekday" value="{{ week_day }}">
                  <input class="form-control" type="hidden" name="clientTime" value="{{ time }}">
                  <input class="form-control" type="hidden" name="clientTeacher" value="{{ id_teacher }}">
              </div>

            <div>{{ form.clientName.label(class_='control-label') }}</div>
            <div>{{ form.clientName(class_="form-control") }}</div>

            <div>{{ form.clientPhone.label(class_='control-label') }}</div>
            <div>{{ form.clientPhone(class_="form-control") }}</div>
            <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">
          </div>
        </form>
        {% if form.errors %}
        <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}